body {
	margin: 0;
}

t2 {
	font-size: 1.4rem;
}

t3 {
	font-size: 1rem;
}
#f1-background {
	background-image: url(../../static/images/content/background.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#login-box {
	position: absolute;
	width: 300px;
	height: 400px;
	background: #c92828d0;
	-webkit-box-shadow: 0px 0px 30px 10px #c9282880;
	-moz-box-shadow: 0px 0px 30px 10px #c9282880;
	box-shadow: 0px 0px 30px 10px #c9282880;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	border-radius: 5px;
}

.logo-fbet {
	height: 80px;
	background-image: url(../../static/images/content/logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.menu-logo {
	height: 100%;
	width: 100px;
	margin-left: 15px;
	float: left;
	cursor: pointer;
}

.menu-header-content {
	width: calc(100% - 200px);
	float: left;
	height: 100%;
}

.menu-button {
	margin-top: 9px;
	height: 65%;
	width: 40px;
	float: right;
	background: url(../../static/images/content/button-menu.svg);
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
}

.menu-box {
	display: none;
	position: fixed;
	top: 70px;
	right: 10px;
	width: 300px;
	height: 400px;
	background: #fff;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 15px 2px #00000080;
	-moz-box-shadow: 0px 0px 15px 2px #00000080;
	box-shadow: 0px 0px 15px 2px #00000080;
	z-index: 1;
}

.user-pic {
	height: 90%;
	margin-top: 3px;
	width: 75px;
	background: url(https://jeffjbutler.com/wp-content/uploads/2018/01/default-user.png);
	background-repeat: no-repeat;
	background-size: contain;
	float: right;
}

.bottom-align {
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	bottom: 25px;
	padding-left: 15px;
	padding-right: 15px;
}

.btn-black {
	background-color: #000000;
	border-color: #000000;
	color: white;
}

.btn-red-dark {
	background-color: #460202;
	border-color: #460202;
	color: white;
}

.btn-black.fluid-button {
	position: absolute;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	bottom: 0;
}

.btn-black:focus,
.btn-black:hover {
	color: red;
	box-shadow: 0 0 0 0.2rem #ff000040;
}

.btn-red-dark:focus,
.btn-red-dark:hover {
	color: white;
	box-shadow: 0 0 0 0.2rem #ff000040;
}

.no-select:focus,
.no-select:hover {
	outline: none;
	border: none;
	box-shadow: none;
}

#menu-viewer {
	position: relative;
	height: 80px;
	width: 100vw;
}
#menu-viewer .menu {
	position: fixed;
	top: 0;
	left: 0;
	height: 60px;
	width: 100vw;
	background: #ffffffb0;
	border-bottom: 3px solid #ff0000;
	z-index: 2;
}

.fbet-card-box {
	position: relative;
	border: 3px solid var(--THEME_COLOR_PRIMARY_DARK);
	border-radius: 15px;
	padding: 15px;
	border-top-left-radius: 0;
	border-bottom-right-radius: 0;
	height: 95%;
	padding-bottom: 100px;
}

.fbet-card-box.done {
	border: 3px solid var(--DISABLED_COLOR) !important;
}

.fbet-card-box p {
	color: var(--THEME_FONT_COLOR_DARK);
	font-size: 0.7rem;
	padding-top: 5px;
}

.fbet-card-box.done p {
	color: var(--DISABLED_COLOR);
}
.fbet-card-box.done t3 {
	color: var(--DISABLED_COLOR);
	background-image: linear-gradient(var(--DISABLED_COLOR), var(--DISABLED_COLOR));
}

.fbet-card-box p.fluid-text {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 0.5rem;
	font-weight: bold;
	margin: 0;
	padding: 0;
}
.track-info {
	height: 150px;
	max-height: 150px;
}

.race-datetime {
	text-align: center;
}
.race-datetime .flag-icon {
	background: url(../../static/images/icons/race.png);
	background-size: cover;
	height: 30px;
	width: 26px;
	margin-right: 5px;
	float: left;
}
.classification-datetime {
	text-align: center;
}
.classification-datetime .clock-icon {
	background: url(../../static/images/icons/classification.png);
	background-size: cover;
	height: 30px;
	width: 26px;
	margin-right: 5px;
	float: left;
}

.track-design {
	text-align: center;
	margin-bottom: 15px;
	height: 150px;
	max-height: 150px;
}
.track-design {
	position: relative;
}

.track-image {
	width: auto;
	max-height: 100%;
	max-width: 100%;
	height: 125px;
	max-height: 125px;
}

.button-box-bottom {
	position: absolute;
	width: calc(100% - 30px);
	left: 15px;
}

.dropdown-menu {
	width: 100% !important;
	min-width: fit-content !important;
	max-height: 300px !important;
	overflow-y: scroll !important;
	background: white;
}
.dropdown-menu::-webkit-scrollbar {
	width: 10px;
}
.dropdown-menu::-webkit-scrollbar-track {
	background: #f1f1f1;
}
.dropdown-menu::-webkit-scrollbar-thumb {
	background: var(--THEME_COLOR_PRIMARY_DARK);
}
.dropdown-menu::-webkit-scrollbar-thumb:hover {
	background: var(--THEME_COLOR_PRIMARY_LIGHT);
}
h4 {
	color: var(--THEME_FONT_COLOR_DARK);
}

.btn-not-overflow {
	width: 100%;
	font-size: 75%;
}

.dropdown-item {
	cursor: pointer;
}

.save-icon {
	opacity: 0;
	position: fixed;
	background: url(../../static/images/icons/save.png);
	background-size: cover;
	height: 35px;
	width: 35px;
	right: 20px;
	bottom: 20px;
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 0.25s;
	-moz-transition-property: -moz-transform;
	-moz-transition-duration: 0.25s;
	-webkit-animation-name: grow;
	-webkit-animation-duration: 0.25s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: grow;
	-moz-animation-duration: 0.25s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;

	transition-property: -moz-transform;
	transition-duration: 0.25s;
	animation-name: grow;
	animation-duration: 0.25s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	transition: opacity 150ms;
}

.save-icon.active {
	opacity: 1;
}

.menu-item {
	color: white;
	padding-left: 15px;
	padding-top: 7.5px;
	padding-bottom: 7.5px;
	background: black;
	margin-bottom: 5px;
	cursor: pointer;
	font-weight: bolder;
}

.menu-item.head {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.menu-item:hover {
	background: #c92828d0;
}

#email-field,
#code-field {
	display: none;
}

#register-page-buttons,
#code-page-buttons {
	display: none;
}

.table-user-standings {
	font-size: 0.8rem !important;
}

.table-user-standings td,
.table-user-standings th {
	padding: 5px !important;
}

.full-match {
	background-color: #40ac2e;
	border-color: #025105;
	color: black;
}

.area-match {
	background-color: #dfda2f;
	border-color: #c5a70f;
	color: black;
}

.team-match {
	background-color: #c7721b;
	border-color: #bf611f;
	color: black;
}

.no-match {
	background-color: #ff5151;
	border-color: #fb0000;
	color: black;
}

.not-picked {
	background-color: #acacac;
	border-color: #777777;
	color: #5d5d5d;
}

@-webkit-keyframes grow {
	0% {
		-webkit-transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.2);
	}
	100% {
		-webkit-transform: scale(1);
	}
}
@-moz-keyframes grow {
	0% {
		-moz-transform: scale(1);
	}
	50% {
		-moz-transform: scale(1.2);
	}
	100% {
		-moz-transform: scale(1);
	}
}
@keyframes grow {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

#rules-section {
	color: var(--THEME_FONT_COLOR_DARK);
}

.accordion .card-header {
	background: var(--THEME_COLOR_PRIMARY_LIGHT);
}

.accordion .card-header.collapsed {
	background: #460202;
}

.accordion h5 {
	color: white;
}

.accordion p {
	color: var(--THEME_FONT_COLOR_DARK);
}
.accordion ul {
	color: var(--THEME_FONT_COLOR_DARK);
}
.accordion td {
	color: var(--THEME_FONT_COLOR_DARK);
	border-color: var(--THEME_FONT_COLOR_DARK);
}

.accordion th {
	color: white;
	background-color: var(--THEME_COLOR_PRIMARY_LIGHT);
	border-color: var(--THEME_FONT_COLOR_DARK);
	border-bottom-width: 0 !important;
}

caption {
	color: var(--THEME_FONT_COLOR_DARK);
}

.green-color {
	color: #025105 !important;
	font-weight: bold !important;
}
.yellow-color {
	color: #c5a70f !important;
	font-weight: bold !important;
}
.orange-color {
	color: #bf611f !important;
	font-weight: bold !important;
}
.red-color {
	color: #f10000 !important;
	font-weight: bold !important;
}
.gray-color {
	color: #5d5d5d !important;
	font-weight: bold !important;
}

.text-align-center {
	text-align: center;
}

.disabled, .disabled * {
	cursor: default !important;
	pointer-events: none !important;
}

.dropdown.race_position_dropdown:not(.not-large),
.dropdown.race_position_dropdown .btn-red-dark:not(.not-large){
	height: 100%;
}
